@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family:  "Inter", sans-serif;
}

.faq-accordion
{
  max-width: 800px;
  margin: 0 auto;
}

h2
{
  color: #fff;
}

body
{
  background-color: #34495e;
}

.faq-item
{
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.faq-item-question
{
  background-color: #718093;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.faq-item-question:hover
{
  background-color: #7f8fab;
}

.faq-item-body
{
  background-color: #fff;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  
}

.faq-item-body-content
{
  margin-top: 10px;
  padding: 15px;
  color: #555;
}

.faq-item.active .faq-item-body
{
  max-height: 300px;
}

.copyrights p
{
  
  margin-top: 10px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: wheat;
  text-align: center;
}

.copyrights span
{
  font-weight: 700;
  color: #fff;
}